*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #1b1b1b; }

::selection {
  color: #fff;
  background-color: #1b1b1b; }

.container {
  display: grid;
  grid-template-rows: min-content; }

.feature--body {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .feature--body__text {
    text-align: center;
    padding: 5% 10%;
    width: 80%; }
    @media only screen and (max-width: 68.75em) {
      .feature--body__text {
        text-align: left;
        width: 100%; } }
  .feature--body__img img {
    width: 100%; }

.feature--neck {
  background-image: url(../img/neck.jpg);
  background-size: 80%;
  background-position: 100% 30%;
  background-repeat: no-repeat;
  height: 70vw;
  overflow: hidden;
  padding: 7rem;
  position: relative; }
  @media only screen and (max-width: 68.75em) {
    .feature--neck {
      background-image: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: auto;
      padding: 0; } }
  .feature--neck__text {
    width: 40%;
    position: absolute;
    bottom: 20%; }
    @media only screen and (max-width: 68.75em) {
      .feature--neck__text {
        bottom: unset;
        width: 100%;
        padding: 5% 10%;
        position: relative;
        bottom: unset; } }
  .feature--neck__img {
    display: none; }
    @media only screen and (max-width: 68.75em) {
      .feature--neck__img {
        display: block; } }
    .feature--neck__img img {
      width: 100%; }

.feature--components {
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 68.75em) {
    .feature--components {
      flex-direction: column; } }
  .feature--components__text {
    padding: 10rem;
    flex: 0 0 50%;
    order: 1; }
    @media only screen and (max-width: 68.75em) {
      .feature--components__text {
        order: 0;
        padding: 5% 10%; } }
  .feature--components__img {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center; }
    .feature--components__img img {
      width: 80%; }
      @media only screen and (max-width: 68.75em) {
        .feature--components__img img {
          width: 70%; } }

.feature--pickups {
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 68.75em) {
    .feature--pickups {
      flex-direction: column; } }
  .feature--pickups__text {
    padding: 10rem;
    flex: 0 0 50%; }
    @media only screen and (max-width: 68.75em) {
      .feature--pickups__text {
        padding: 5% 10%; } }
  .feature--pickups__img {
    flex: 1 0;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    @media only screen and (max-width: 68.75em) {
      .feature--pickups__img {
        justify-content: center; } }
    .feature--pickups__img img {
      width: 100%; }
      @media only screen and (max-width: 68.75em) {
        .feature--pickups__img img {
          width: 63%; } }

.footer {
  height: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }
  .footer__main-nav {
    list-style: none;
    display: flex;
    padding: 0 2rem; }
    .footer__main-nav__item:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 43.75em) {
        .footer__main-nav__item:not(:last-child) {
          margin-right: 2rem; } }
    .footer__main-nav__item a {
      font-size: 1.2rem;
      text-transform: uppercase;
      text-decoration: none;
      color: #1b1b1b; }
  .footer__social-nav {
    list-style: none;
    display: flex; }
    .footer__social-nav__item:not(:last-child) {
      margin-right: 2rem; }
    .footer__social-nav__item__icon {
      width: 3rem;
      height: 3rem; }
  .footer__copyright {
    font-size: 1rem; }

.gallery {
  display: grid;
  grid-template-columns: repeat(6, minmax(min-content, 1fr)); }
  @media only screen and (max-width: 68.75em) {
    .gallery {
      grid-template-columns: repeat(3, minmax(1rem, 1fr)); } }
  @media only screen and (max-width: 43.75em) {
    .gallery {
      grid-template-columns: repeat(2, minmax(1rem, 1fr)); } }
  .gallery__item {
    width: 100%;
    border: 0.5px solid #fff; }

.header {
  overflow: hidden;
  display: flex; }
  @media only screen and (max-width: 43.75em) {
    .header {
      flex-direction: column; } }
  .header__text {
    padding: 2% 6%;
    flex: 0 0 60%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center; }
    @media only screen and (max-width: 43.75em) {
      .header__text {
        order: 1; } }
    .header__text__description {
      display: inline-block;
      margin-bottom: 3.5rem; }
    .header__text__asteriks {
      display: inline-block;
      margin-bottom: 3.5rem;
      font-style: italic;
      font-size: 1.4rem; }
  .header__img {
    flex: 1; }
    @media only screen and (max-width: 43.75em) {
      .header__img {
        text-align: center; } }
    .header__img img {
      width: 45rem; }
      @media only screen and (max-width: 43.75em) {
        .header__img img {
          width: 22.5rem; } }

.btn {
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 1.6rem;
  padding: 1.8rem 4.6rem;
  background-color: #1b1b1b;
  color: #fff;
  cursor: pointer; }
  @media only screen and (max-width: 43.75em) {
    .btn {
      width: 100%;
      margin-bottom: 3rem; } }

.nav {
  height: 8rem;
  width: 100%;
  background-color: #1b1b1b;
  color: #fff;
  padding: 0 5%;
  border-bottom: 0.5px solid #fff;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media only screen and (max-width: 68.75em) {
    .nav {
      border-bottom: none;
      padding: 0; } }
  .nav__logo {
    margin-right: auto; }
    @media only screen and (max-width: 68.75em) {
      .nav__logo {
        margin: auto; } }
  .nav__main {
    list-style: none;
    color: #777;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 68.75em) {
      .nav__main {
        position: absolute;
        top: 8rem;
        width: 100%;
        z-index: 1;
        background-color: #1b1b1b;
        text-align: center;
        font-size: 3.2rem;
        opacity: 0.95;
        padding-bottom: 2rem;
        display: none;
        flex-direction: column; } }
    @media only screen and (max-width: 43.75em) {
      .nav__main {
        font-size: 2.6rem; } }
  .nav__list {
    list-style: none;
    color: #777;
    display: flex; }
    @media only screen and (max-width: 68.75em) {
      .nav__list {
        flex-direction: column; } }
    .nav__list__item {
      margin-right: 3.5rem; }
      @media only screen and (max-width: 68.75em) {
        .nav__list__item {
          margin-right: 0;
          padding: 2rem 0;
          width: 100%;
          height: 100%; } }
      @media only screen and (max-width: 43.75em) {
        .nav__list__item {
          padding: 1.5rem 0; } }
      .nav__list__item__link:link, .nav__list__item__link:visited {
        text-decoration: none;
        text-transform: uppercase;
        color: currentColor;
        transition: color 0.4s; }
        .nav__list__item__link:link .active, .nav__list__item__link:visited .active {
          color: #fff;
          border-bottom: 1px solid #fff;
          padding-bottom: 0.5rem; }
          @media only screen and (max-width: 68.75em) {
            .nav__list__item__link:link .active, .nav__list__item__link:visited .active {
              border-bottom: none;
              padding-bottom: 0; } }
      .nav__list__item__link:hover, .nav__list__item__link:active {
        color: #fff; }
  .nav__social {
    list-style: none;
    display: flex; }
    .nav__social__item:not(:last-child) {
      margin-right: 1.5rem; }
      @media only screen and (max-width: 68.75em) {
        .nav__social__item:not(:last-child) {
          margin-right: 3rem; } }
    .nav__social__item__icon {
      width: 1.5rem;
      height: 1.5rem;
      fill: #fff;
      transition: filter 0.4s;
      cursor: pointer; }
      @media only screen and (max-width: 68.75em) {
        .nav__social__item__icon {
          width: 3rem;
          height: 3rem; } }
      .nav__social__item__icon:hover {
        filter: brightness(40%); }
  .nav__checkbox {
    display: none; }
  .nav__checkbox:checked ~ .nav__main {
    display: flex; }
  .nav__checkbox:checked + .nav__btn .nav__icon {
    background-color: transparent; }
  .nav__checkbox:checked + .nav__btn .nav__icon::before {
    transform: rotate(45deg);
    top: 0; }
  .nav__checkbox:checked + .nav__btn .nav__icon::after {
    transform: rotate(-45deg);
    top: 0; }
  .nav__btn {
    display: none; }
    @media only screen and (max-width: 68.75em) {
      .nav__btn {
        display: block;
        z-index: 10;
        position: relative;
        left: 3rem;
        cursor: pointer;
        height: 3rem;
        width: 3rem; } }
  .nav__icon {
    position: absolute;
    top: 1.5rem; }
    .nav__icon, .nav__icon::before, .nav__icon::after {
      width: 3rem;
      height: 1px;
      display: inline-block;
      background-color: #fff;
      left: 0;
      transition: all 0.2s; }
    .nav__icon::before, .nav__icon::after {
      content: "";
      position: absolute; }
    .nav__icon::before {
      top: -1rem; }
    .nav__icon::after {
      top: 1rem; }

.logo {
  height: 4rem; }
  @media only screen and (max-width: 68.75em) {
    .logo {
      margin-left: -3rem; } }

.options {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  @media only screen and (max-width: 43.75em) {
    .options {
      grid-template-columns: 100%;
      grid-auto-rows: 30vw; } }
  .options__box {
    position: relative;
    border: 0.5px solid #fff;
    overflow: hidden; }
    .options__box__img {
      min-height: 20rem; }
      .options__box__img img {
        width: 100%;
        transition: all 0.4s; }
    .options__box__caption {
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: #1b1b1b;
      color: #fff;
      text-align: center;
      font-size: 2rem;
      text-transform: uppercase;
      padding: 1.5rem 0;
      opacity: 0.92; }
    .options__box:hover .options__box__img img {
      transform: scale(1.05); }

.showcase img {
  width: 100%; }

.story {
  background-image: url(../img/quote-bg.jpg);
  background-position: center;
  background-size: cover;
  backdrop-filter: brightness(40%);
  height: auto;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12rem; }
  @media only screen and (max-width: 43.75em) {
    .story {
      padding: 5rem 2.5rem; } }
  .story__quote {
    text-align: center;
    flex: 0 0 80%; }
    .story__quote p {
      font-size: 3.5rem;
      font-style: italic;
      line-height: 1.2;
      margin-bottom: 3rem; }
      @media only screen and (max-width: 43.75em) {
        .story__quote p {
          font-size: 2rem; } }

.heading-primary,
.heading-secondary {
  font-weight: 300;
  margin-bottom: 3.5rem; }

.heading-secondary {
  font-size: 3.5rem; }
