.footer {
    height: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    &__main-nav {
        list-style: none;
        display: flex;
        padding: 0 2rem;

        &__item {

            &:not(:last-child) {
                margin-right: 6rem;

                @media only screen and (max-width: $bp-large) {
                    margin-right: 2rem;
                }
            }

            a {
                font-size: 1.2rem;
                text-transform: uppercase;
                text-decoration: none;
                color: $color-black;
            }
        }

    }

    &__social-nav {
        list-style: none;
        display: flex;

        &__item {

            &:not(:last-child) {
                margin-right: 2rem;
            }

            &__icon {
                width: 3rem;
                height: 3rem;
            }
        }
    }

    &__copyright {
        font-size: 1rem;
    }
}